@charset "UTF 8";

.imagem-pequena {
    max-width: 150px;
    max-height: 150px;
  }

  .imagem-media {
    max-width: 300px;
    max-height: 300px;
    align-items: center;
  }

  .imagem-grande {
    max-width: 500px;
    max-height: 500px;
    align-items: center;
  }

  .hover-effect:hover {
    color: rgb(168, 24, 24);
}

body {
    background-image: url('Img/ll.avif');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
}

